@tailwind base;
@tailwind components;
@tailwind utilities;

.packets {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);
}

.packet {
    border: 1px solid gray;
    padding: 10px;
}

.btn_packet {
        background-color: #878787;
        padding: 5px 10px;
        margin-top: 10px;
        color: white;
}

main {
    max-width: 1200px;
    margin: auto;
    padding: 3em 0;
}

header {
    max-width: 1200px;
    margin: auto;
}

.plan {
    border: 1px solid;
    margin: 10px 0;
    padding: 10px;
}

.btn_plan {
    background: rgb(42, 42, 42);
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
}

.btn_db {
    padding: 5px 10px;
    background-color: rgb(40, 40, 40);
    color: white;
}